* {
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
    color: #FFFFFF;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #1A2639;
}

.main-header {
    margin: 0;
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 0px;
}

.tab {
    left: 1786px;
}

.body {
    display: inline;
}

.aboutMe a {
    text-decoration: none;
}

.resume a {
    text-decoration: none;
}

.github a {
    text-decoration: none;
}

.linkedin a {
    margin: 0;
    text-decoration: none;
}

.body div {
    text-align: inline;
}