
  body {
    font-size: 14px;
  }
  .v1_2 {
    width: 100%;
    height: 1080px;
    background: rgba(26,38,57,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_5 {
    width: 150px;
    height: 150px;
    background: url("../images/v1_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 50px;
    overflow: hidden;
  }
  .v1_3 {
    width: 150px;
    height: 150px;
    background: rgba(62,74,97,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_4 {
    width: 70px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 88px;
    left: 75px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 42px;
    opacity: 1;
    text-align: left;
  }
  .v1_7 {
    width: 70px;
    height: 70px;
    background: url("../images/v1_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 1786px;
    overflow: hidden;
  }
  .v1_6 {
    width: 70px;
    height: 70px;
    background: rgba(62,74,97,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_2 {
    width: 25px;
    height: 5px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 10px;
    overflow: hidden;
  }
  .v2_3 {
    width: 32px;
    height: 5px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 10px;
    overflow: hidden;
  }
  .v2_4 {
    width: 32px;
    height: 5px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 10px;
    overflow: hidden;
  }
  .v2_6 {
    width: 563px;
    height: 265px;
    background: url("../images/v2_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 257px;
    left: 125px;
    overflow: hidden;
  }
  .v2_5 {
    width: 90px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Light;
    opacity: 1;
    text-align: left;
  }
  .v2_7 {
    width: 563px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 68px;
    left: 0px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v3_3 {
    width: 448px;
    height: 402px;
    background: url("../images/v3_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 573px;
    left: 124px;
    overflow: hidden;
  }
  .v2_22 {
    width: 223px;
    height: 62px;
    background: url("../images/v2_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 1px;
    overflow: hidden;
  }
  .v2_23 {
    width: 60px;
    height: 62px;
    background: rgba(194,77,44,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_34 {
    width: 36px;
    height: 37px;
    background: url("../images/v2_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 13px;
    overflow: hidden;
  }
  .v2_30 {
    width: 23px;
    height: 2px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 6px;
  }
  .v2_31 {
    width: 23px;
    height: 2px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 6px;
  }
  .v2_32 {
    width: 12px;
    height: 2px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 6px;
  }
  .v2_33 {
    width: 36px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v2_25 {
    width: 148px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 75px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2_19 {
    width: 224px;
    height: 62px;
    background: url("../images/v2_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 1px;
    overflow: hidden;
  }
  .v2_17 {
    width: 60px;
    height: 62px;
    background: rgba(194,77,44,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
  }
  .v2_18 {
    width: 61px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_21 {
    width: 148px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 76px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2_12 {
    width: 223px;
    height: 62px;
    background: url("../images/v2_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v2_11 {
    width: 148px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 20px;
    left: 75px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2_8 {
    width: 60px;
    height: 62px;
    background: rgba(194,77,44,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v4_3 {
    width: 223px;
    height: 62px;
    background: url("../images/v4_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 340px;
    left: 2px;
    overflow: hidden;
  }
  .v4_4 {
    width: 148px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 20px;
    left: 75px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v4_5 {
    width: 60px;
    height: 62px;
    background: rgba(194,77,44,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_10 {
    width: 38px;
    height: 35px;
    background: url("../images/v4_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 10px;
    overflow: hidden;
  }
  .v4_9 {
    width: 38px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v3_2 {
    width: 448px;
    height: 402px;
    background: rgba(217,217,217,1);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v4_13 {
    width: 582px;
    height: 486px;
    background: url("../images/v4_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 257px;
    left: 1247px;
    overflow: hidden;
  }
  .v3_5 {
    width: 582px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 88px;
    left: 0px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v4_2 {
    width: 582px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 202px;
    left: 0px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v4_11 {
    width: 582px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 316px;
    left: 0px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v4_14 {
    width: 582px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 430px;
    left: 0px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v3_4 {
    width: 151px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 431px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 24px;
    opacity: 1;
    text-align: right;
  }
